.firstbox{
    border: gray 2px solid;
}
#inernal_ul{
    background-color: skyblue;
}
ol{
    background-color: slateblue;
}
p[name="first_p_tag"]{
    background-color: forestgreen;
}
body{
    background-color: darkblue;
}
img{
    border-radius: 5%;
}